  .grid-data {
    width: 70%;
    background: #C4C4C4;
  }

  .dx-datagrid {
    margin: 17px;
  }

.grid-title {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
    padding-left: 17px;
    padding-top: 13px;
}